* {
  font-family: sans-serif;
  color: var(--dark-grey-3);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e50914;
  --red-hover: #f6121d;
  --black: #000;
  --white: #fff;
  --a: #0071eb;
  --white-fafafa: #fafafa;
  --light-grey: #757575;
  --light-grey-2: #8c8c8c;
  --light-grey-33: #f3f3f3;
  --light-grey-4: #737373;
  --dark-grey: #303030;
  --dark-grey-2: #221f1f;
  --dark-grey-3: #333333;
  --contact: #eaeae6;
  --contact-button: #4c4948;
  --contact-button-hover: #f5f5f1;
  --footer-a: #8b8a88;
  --border-left: #d5d4d1;
  --join-hover: #eaeae6;
}

html,
body {
  height: 100%;
  min-width: 320px;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

path {
  color: var(--red);
}

.checkmark-group--icon {
  width: 30px;
  height: 30px;
  margin-right: 1em;
  fill: var(--red);
}

.svg-icon {
  width: 74px;

  fill: var(--red);
}

br {
  margin-top: 5em;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1em 0.4em;
  border-bottom: 1px solid var(--border-left);
}

.header__login {
  font-size: 14px;
  font-weight: 600;
}

.main {
  padding-bottom: 120px;
}

.landing__1 {
  width: 100%;
  padding: 1em 2em 3em;
  display: flex;
  justify-content: center;
}

.landing__2 {
  width: 100%;
  padding: 2em 1em 3em;
  display: flex;
  justify-content: center;
}

.landing__card {
  display: flex;
  flex-direction: column;
}

.landing__card--1 {
  padding: 0 0.5em;
}

.landing__card--2 {
  max-width: 978px;
}

.landing__img--container {
  margin-top: 30%;
}

.landing__img {
  width: 50px;
  margin-bottom: 1.5em;
}

.landing__steps--container,
.landing__info {
  padding: 0 1em;
}

.landing__steps--container {
  margin-bottom: 1em;
}

.landing__steps p {
  font-size: 13px;
  margin-bottom: 0.5em;
}

.landing__h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.landing__item {
  width: 90%;
  display: flex;
}

.landing__item p {
  width: 100%;
}

.landing__item p {
  line-height: 1.4;
  font-size: 18px;
}

.landing__button {
  width: 100%;
  max-width: 440px;
  color: var(--white);
  background: var(--red);
  border: none;
  border-radius: 0.2em;
  font-size: 24px;
  padding: 0.8em;
  margin-top: 1em;
  cursor: pointer;
}

.landing__button:hover {
  background-color: var(--red-hover);
}

.landing__plans--container {
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--white);
}

.landing__plan {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
}

.landing__plan div {
  width: 31%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--red);
  opacity: 0.6;
  padding: 1.5em 1em;
  border-radius: 0.1em;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.after {
  opacity: 1 !important;
}

.after::after {
  content: "";
  display: block;
  border: 0 solid transparent;
  border-top-color: var(--red);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px;
}

.landing__table {
  width: 100%;
}

.landing__tbody {
  width: 100%;
}

.landing__tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0;
}

.landing__tr {
  border-bottom: 1px solid var(--join-hover);
}

.landing__tbody :nth-of-type(4) {
  border-bottom: none;
}

.landing__tr td {
  width: 33%;
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
  color: var(--dark-grey-3);
}

.landing__tr td:nth-child(1) {
  width: 100%;
  font-size: 13px;
  font-weight: 100;
  text-align: center;
}

.landing__tr path {
  color: var(--light-grey-4);
}

.landing__info p {
  font-size: 13px;
  color: var(--light-grey-4);
}

.landing__info a {
  color: var(--a);
}

.footer {
  background-color: var(--light-grey-33);
  display: flex;
  align-items: center;
  padding: 2em 0 1em;
  border-top: 1px solid var(--border-left);
}

.footer__center {
  width: 90%;
  max-width: 1050px;
}

.footer__a {
  font-size: 0.8em;
  color: var(--light-grey);
  margin: 0.5em 0;
}

a:hover {
  text-decoration: underline;
}

.footer__li {
  line-height: 1;
  width: 100%;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.footer__p {
  margin: 0 0 1em;
  color: var(--light-grey);
  font-size: 1em;
}

.footer__p a {
  color: var(--light-grey);
}

.footer__ul {
  list-style-type: none;
  margin: 0 0 0.5em;
  display: grid;
  grid-template: ". ." ". ." ". ." ". ." ". ." ". .";
}

.footer__language {
  background: var(--white);
  border-radius: 0.2em;
  padding: 1em 1.5em;
  font-size: 1em;
  color: var(--light-grey);
  border: 1px solid var(--light-grey-2);
}

.lang-0,
.lang-1 {
  background-color: var(--black);
  font-size: 0.8em;
}

.footer__country {
  font-size: 0.8em;
  color: var(--light-grey);
  margin: 1.5em 0 0;
}

@media screen and (min-width: 500px) {
  .svg-icon {
    width: 167px;
    height: 45px;
  }
}

@media screen and (min-width: 501px) {
  .footer__center {
    width: 100%;
    padding: 0 3em;
  }

  .footer__ul {
    list-style-type: none;
    display: grid;
    grid-template: ". . ." ". . .";
  }
}

@media screen and (min-width: 601px) {
  .landing__img--container,
  .landing__steps,
  .landing__h2 {
    display: flex;
  }

  .landing__plans--container {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .landing__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing__info p {
    padding-right: 150px;
  }

  .landing__plan {
    width: 62%;
    margin-bottom: 0.5em;
  }

  .landing__plan div {
    width: 90px;
    height: 90px;
  }

  .landing__tbody tr {
    flex-wrap: nowrap;
  }

  .landing__tr td {
    width: 22%;
  }

  .landing__tr :nth-child(1) {
    width: 40% !important;
    font-size: 16px !important;
    text-align: start !important;
    padding-left: 1em;
  }

  .landing__tr td > svg {
    padding-left: 0 !important;
  }

  .after::after {
    border-width: 10px;
  }
}

@media screen and (min-width: 740px) {
  .header__nav {
    padding: 1.5em 2.5em 1em;
  }

  .header__login {
    font-size: 19px;
  }

  .footer__ul {
    grid-template: ". . . ." ". . . .";
  }
}

@media screen and (min-width: 950px) {
  .landing__plan div {
    width: 120px;
    height: 120px;
  }
}
